@font-face {
  font-family: Raleway;
  src:
    url('../components/Fonts/Raleway-Regular.woff') format('woff2'),
    url('../components/Fonts/Raleway-Regular.woff2') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url('../components/Fonts/Raleway-Bold.woff') format('woff2'),
    url('../components/Fonts/Raleway-Bold.woff2') format('woff');
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #cdcac3;
}

h1 {
  font: 700 2.5em/1.2 inherit;
  color: #fefefe;
  margin: 0 0 20px;
}

h2 {
  font: 600 1.75em/1.2 inherit;
  color: #e6e3de;
  margin: 30px 0 15px;
}

p {
  margin: 15px 0;
  color: #cdcac3;
}

ul,
ol {
  padding-left: 20px;
  margin: 15px 0;
  color: #cdcac3;
}

ul li,
ol li {
  margin: 10px 0;
}
