---
import './Pointer.css'

import ArrowIcon from '../../../public/arrow-icon.svg'

const buttonProps = {
  'id': 'back-to-top',
  'class': 'back-to-top',
  'aria-label': 'Вернуться наверх',
  'title': 'Вернуться наверх'
}
---

<button {...buttonProps}>
  <ArrowIcon class='arrow-icon' />
</button>

<script>
  import { initScrollToTop } from './scroll'
  initScrollToTop()
</script>
