.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0d0d0d;
  border: 1px solid #89806f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.arrow-icon {
  color: #e6e3de;
  width: 24px;
  height: 24px;
}

.back-to-top:hover {
  background-color: rgba(0, 0, 0, 1);
}
