.last-update {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 1.5em;
}

a {
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  color: #e6e3de;
  text-decoration: underline;
}

address {
  font-style: normal;
  margin: 15px 0;
  color: #e6e3de;
}

address a {
  margin-right: 10px;
  color: #fefefe;
}
